<% @items.each do |item| %>
<dl>
  <dt>
    <%=link_to item.title, item%>
  </dt>
  <dd>
    <div id="new_bar"><%=item.project.cn_name%> &nbsp;&nbsp;|&nbsp;&nbsp; <%=format_date(item.created_at)%></div>
    <%= cut(item.info.chars[0..400])%>
  </dd>
</dl>
<% end  %>
<div class='flickr_pagination'>
<%= will_paginate @items,:next_label=>"下一页",:previous_label=>"上一页" %>
</div>