<div class="note_list">
  <div class="title"><strong><span class="id"><%=h @gnote.id %>.</span><%=h @gnote.name %> 同学提出的问题:</strong><br/> 
    <%=h @gnote.question %>
  </div>
  <div class="answer"><strong> <%=h @gnote.replyer %>回答: </strong><br/>
    <%=h @gnote.answer %>
  </div>
</div>

<%= link_to '返回', "/welcome/about"%>